# 50 Python Practice Tasks
Each cell contains a small Python problem. Solve them in Jupyter to enhance your skills!

### Task 1: Assign the value 42 to a variable named `answer` and print it.

In [1]:
# Your code here
answer = 42
print(answer)

42

### Task 2: Print your name to the screen.

In [2]:
# Your code here
print('Your Name')

Your Name

### Task 3: Add 7 and 13. Print the result.

In [ ]:
# Your code here
result = 7 + 13
print(result)

### Task 4: Assign two numbers to variables, swap them (using a temp variable), and print them.

In [ ]:
# Your code here
a = 10
b = 20
temp = a
a = b
b = temp
print(a, b)

### Task 5: Assign a float and an integer to two variables. Print their product.

In [ ]:
# Your code here
f = 2.5
i = 4
print(f * i)

### Task 6: Create a string variable. Print its length.

In [ ]:
# Your code here
s = 'python is fun'
print(len(s))

### Task 7: Print the first and last character of a string.

In [ ]:
# Your code here
text = 'hello'
print(text[0], text[-1])

### Task 8: Convert the string 'Python' to uppercase.

In [ ]:
# Your code here
s = 'Python'
print(s.upper())

### Task 9: Concatenate 'Hello' and 'World' with a space between them.

In [ ]:
# Your code here
greeting = 'Hello' + ' ' + 'World'
print(greeting)

### Task 10: Check if the substring 'on' exists in 'Python'. Print True/False.

In [3]:
# Your code here
print('on' in 'Python')

True

### Task 11: Create a list with values [1, 2, 3, 4, 5] and print the third item.

In [4]:
# Your code here
lst = [1,2,3,4,5]
print(lst[2])

3

### Task 12: Append 6 to the list and print it.

In [5]:
# Your code here
lst.append(6)
print(lst)

[1, 2, 3, 4, 5, 6]

### Task 13: Remove the number 3 from the list and print it.

In [6]:
# Your code here
lst.remove(3)
print(lst)

[1, 2, 4, 5, 6]

### Task 14: Print the list in reverse order (use slicing).

In [7]:
# Your code here
print(lst[::-1])

[6, 5, 4, 2, 1]

### Task 15: Sum all numbers in the list and print the sum.

In [8]:
# Your code here
print(sum(lst))

18

### Task 16: Print all numbers from 1 to 5 using a for loop.

In [10]:
# Your code here
for i in range(1,6):
    print(i)

1
2
3
4
5

### Task 17: Print only even numbers from 1 to 10.

In [11]:
# Your code here
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

### Task 18: Calculate the factorial of 5 using a loop and print it.

In [9]:
# Your code here
fact = 1
for i in range(1,6):
    fact *= i
print(fact)
z = 1 * 2 * 3 * 4 * 5
print(z)

120
120

### Task 19: Print the characters of the string 'hello' one by one.

In [10]:
# Your code here
for ch in 'hello':
    print(ch)

h
e
l
l
o

### Task 20: Given a list, print only values greater than 3.

In [11]:
# Your code here
lst = [2, 4, 1, 7, 3]
for val in lst:
    if val > 3:
        print(val)

4
7

### Task 21: Check if a number is positive, negative, or zero. Print a message.

In [12]:
# Your code here
n = -4
if n > 0:
    print('Positive')
elif n < 0:
    print('Negative')
else:
    print('Zero')

Negative

### Task 22: Given two numbers, print the greater one.

In [13]:
# Your code here
a, b = 5, 9
print(max(a, b))

9

### Task 23: Check if a year is a leap year (divisible by 4, not by 100 unless also by 400).

In [ ]:
# Your code here
year = 2020
is_leap = (year%4==0 and (year%100!=0 or year%400==0))
print(is_leap)

### Task 24: Print 'Fizz' for numbers divisible by 3 from 1 to 15.

In [ ]:
# Your code here
for i in range(1,16):
    if i%3==0:
        print('Fizz')

### Task 25: Check if a string is a palindrome (reads the same backward).

In [14]:
# Your code here
s = 'level'
print(s == s[::-1])

True

### Task 26: Write a function to add two numbers and return the result.

In [ ]:
# Your code here
def add(a,b):
    return a+b
print(add(2,3))

### Task 27: Write a function that checks if a number is even.

In [15]:
# Your code here
def is_even(n):
    return n%2==0
print(is_even(4))

True

### Task 28: Write a function that returns the maximum of three numbers.

In [16]:
# Your code here
def max3(a,b,c):
    return max(a,b,c)
print(max3(3,7,5))

7

### Task 29: Write a function to count vowels in a string.

In [17]:
# Your code here
def count_vowels(s):
    return sum(1 for c in s if c.lower() in 'aeiou')
print(count_vowels('hello'))

2

### Task 30: Write a function that takes a list and returns a new list with squares of all numbers.

In [18]:
# Your code here
def square_list(lst):
    return [x**2 for x in lst]
print(square_list([1,2,3]))

[1, 4, 9]

### Task 31: Create a dictionary with 'a':1, 'b':2. Print the value for key 'a'.

In [19]:
# Your code here
d = {'a':1, 'b':2}
print(d['a'])

1

### Task 32: Add a new key-value pair 'c':3 and print the dictionary.

In [20]:
# Your code here
d['c'] = 3
print(d)

{'a': 1, 'b': 2, 'c': 3}

### Task 33: Loop through dictionary keys and print them.

In [21]:
# Your code here
for k in d:
    print(k)

a
b
c

### Task 34: Loop through dictionary values and print them.

In [22]:
# Your code here
for v in d.values():
    print(v)

1
2
3

### Task 35: Check if key 'd' exists in the dictionary.

In [23]:
# Your code here
print('d' in d)

False

### Task 36: Create a set from the list [1,2,2,3,3,3] and print it.

In [24]:
# Your code here
s = set([1,2,2,3,3,3])
print(s)

{1, 2, 3}

### Task 37: Given two sets, print their intersection.

In [25]:
# Your code here
a = {1,2,3}
b = {2,3,4}
print(a & b)

{2, 3}

### Task 38: Use list comprehension to create a list of squares from 1 to 5.

In [26]:
# Your code here
squares = [x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

### Task 39: Use dict comprehension to create a dict mapping numbers 1-5 to their cubes.

In [27]:
# Your code here
d = {x: x**3 for x in range(1,6)}
print(d)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### Task 40: Create a set of unique vowels in a string.

In [28]:
# Your code here
s = 'banana'
vowels = {c for c in s if c in 'aeiou'}
print(vowels)

{'a'}

### Task 41: Write 'Hello, world!' to a file named 'hello.txt'.

In [ ]:
# Your code here
with open('hello.txt','w') as f:
    f.write('Hello, world!')

### Task 42: Read the content of 'hello.txt' and print it.

In [ ]:
# Your code here
with open('hello.txt') as f:
    print(f.read())

### Task 43: Handle a division by zero exception and print 'Error'.

In [29]:
# Your code here
try:
    print(1/0)
except ZeroDivisionError:
    print('Error')

Error

### Task 44: Try to convert 'abc' to int and handle the exception.

In [30]:
# Your code here
try:
    n = int('abc')
except ValueError:
    print('Cannot convert to int')

Cannot convert to int

### Task 45: Use a context manager to open a file and write a line to it.

In [ ]:
# Your code here
with open('test.txt','w') as f:
    f.write('Python task!')

### Task 46: Define a class `Dog` with attribute `name`, create a `Dog` named 'Rex', and print its name.

In [ ]:
# Your code here
class Dog:
    def __init__(self, name):
        self.name = name
rex = Dog('Rex')
print(rex.name)

### Task 47: Add a method `bark` to `Dog` that prints 'Woof!'. Call it.

In [ ]:
# Your code here
class Dog:
    def __init__(self, name):
        self.name = name
    def bark(self):
        print('Woof!')
rex = Dog('Rex')
rex.bark()

### Task 48: Create a class `Circle` with a method `area` that returns π*r². Print the area for r=2.

In [ ]:
# Your code here
import math
class Circle:
    def __init__(self, r):
        self.r = r
    def area(self):
        return math.pi * self.r ** 2
c = Circle(2)
print(c.area())

### Task 49: Create a class `Counter` with a method to increment a count. Show usage.

In [31]:
# Your code here
class Counter:
    def __init__(self):
        self.count = 0
    def inc(self):
        self.count += 1
c = Counter()
c.inc()
print(c.count)

1

### Task 50: Write a class `Person` with `name` and `age`. Print a greeting using these attributes.

In [ ]:
# Your code here
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
p = Person('Alice', 30)
print(f'Hello, my name is {p.name} and I am {p.age} years old.')