# Python 50+ Examples & Theory - Comprehensive Notebook

## 1. Variables and Printing

In [ ]:
# 1. Assign and print
x = 5
print(x)

In [ ]:
# 2. Multiple variables
a, b, c = 1, 2.5, 'hello'
print(a, b, c)

In [ ]:
# 3. Type check
print(type(a), type(b), type(c))

## 2. Data Types

In [1]:
# 4. Integer, float, string, boolean
n = 10
f = 2.3
s = 'Python'
b = True
print(n, f, s, b)

10 2.3 Python True

In [2]:
# 5. Type casting
s = '123'
i = int(s)
print(i + 7)

130

In [ ]:
# 6. Bool logic
print(True and False, True or False, not True)

## 3. Operators

In [ ]:
# 7. Arithmetic operators
x = 7
y = 3
print(x + y, x - y, x * y, x / y, x ** y, x % y, x // y)

In [3]:
# 8. Assignment operators
x = 10
x += 2
x *= 3
print(x)

36

In [ ]:
# 9. Comparison operators
print(5 > 3, 5 == 5, 5 != 6, 3 <= 1)

## 4. Lists

In [4]:
# 10. List creation and indexing
lst = [1, 2, 3, 4]
print(lst[0], lst[-1])

1 4

In [8]:
# 11. Append and remove
lst.append(5)
lst.remove(4)
lst.remove(1)
print(lst)

[3, 5, 5, 5, 5]

In [9]:
# 12. Slicing
print(lst[1:3], lst[::-1])

[5, 5] [5, 5, 5, 5, 3]

In [10]:
# 13. List methods
print(len(lst), min(lst), max(lst), sum(lst))

5 3 5 23

In [11]:
# 14. Nested list
mat = [[1,2], [3,4]]
print(mat[1][0])

3

## 5. Tuples

In [12]:
# 15. Tuple creation
tup = (4, 5, 6)
print(tup[1])

5

In [13]:
# 16. Tuple unpacking
a, b, c = tup
print(a, b, c)

4 5 6

In [14]:
# 17. Tuple immutability
try:
    tup[0] = 10
except Exception as e:
    print('Error:', e)

Error: 'tuple' object does not support item assignment

## 6. Dictionaries

In [15]:
# 18. Dictionary creation
d = {'a': 1, 'b': 2}
print(d['a'])

1

In [16]:
# 19. Add/update/delete key
d['c'] = 3
d['b'] = 4
del d['a']
print(d)

{'b': 4, 'c': 3}

In [17]:
# 20. Loop through dictionary
for key, value in d.items():
    print(key, value)

b 4
c 3

In [18]:
# 21. Dictionary methods
print(d.keys(), d.values(), d.get('c'), d.get('z', 'missing'))

dict_keys(['b', 'c']) dict_values([4, 3]) 3 missing

## 7. Sets

In [19]:
# 22. Set creation and add/remove
s = {1, 2, 3}
s.add(4)
s.remove(2)
print(s)

{1, 3, 4}

In [ ]:
# 23. Set operations
A = {1,2,3,4}
B = {3,4,5,6}
print('Union:', A | B)
print('Intersection:', A & B)
print('Difference:', A - B)

## 8. If/Elif/Else

In [ ]:
# 24. Basic if
age = 19
if age >= 18:
    print('Adult')

In [ ]:
# 25. If-elif-else
x = 0
if x > 0:
    print('Positive')
elif x == 0:
    print('Zero')
else:
    print('Negative')

## 9. Loops

In [20]:
# 26. For loop over range
for i in range(3):
    print(i)

0
1
2

In [ ]:
# 27. While loop
c = 0
while c < 2:
    print('Count', c)
    c += 1

In [ ]:
# 28. Break/continue
for n in range(5):
    if n == 3:
        break
    if n == 1:
        continue
    print(n)

In [21]:
# 29. Loop over string
for ch in 'abc':
    print(ch)

a
b
c

In [22]:
# 30. Enumerate and zip
colors = ['red', 'green']
nums = [10, 20]
for idx, color in enumerate(colors):
    print(idx, color)
for color, num in zip(colors, nums):
    print(color, num)

0 red
1 green
red 10
green 20

## 10. Functions

In [ ]:
# 31. Function definition
def say_hi():
    print('Hi!')
say_hi()

In [ ]:
# 32. Function with arguments
def add(a, b):
    return a + b
print(add(3, 4))

In [26]:
# 33. Default and named arguments
def power(a, b=2):
    return a ** b
print(power(3), power(3,3))

9 27

In [25]:
# 34. Docstrings
def greet(name):
    '''Greet someone.'''
    print('Hello', name)
help(greet)

Help on function greet in module __main__:

greet(name)
    Greet someone.

In [30]:
def add(a, b):
    """
    Add two numbers and return the result.

    Parameters:
    a (int or float): First number
    b (int or float): Second number

    Returns:
    int or float: The sum
    """
    return a + b
print(add(5, 3))
help(add)

8
Help on function add in module __main__:

add(a, b)
    Add two numbers and return the result.

    Parameters:
    a (int or float): First number
    b (int or float): Second number

    Returns:
    int or float: The sum

In [31]:
# 35. Return multiple values
def min_max(lst):
    return min(lst), max(lst)
mn, mx = min_max([3,6,1])
print(mn, mx)

1 6

## 11. Lambda, Map, Filter, List/Dict Comprehensions

In [32]:
# 36. Lambda function
square = lambda x: x*x
print(square(5))

25

In [33]:
# 37. Map and filter
nums = [1,2,3,4]
squared = list(map(lambda x: x*x, nums))
print(squared)
even = list(filter(lambda x: x%2==0, nums))
print(even)

[1, 4, 9, 16]
[2, 4]

In [34]:
# 38. List comprehension
evens = [x for x in range(10) if x%2==0]
print(evens)

[0, 2, 4, 6, 8]

In [35]:
# 39. Dict comprehension
squares = {x: x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## 12. Strings

In [36]:
# 40. String slicing and methods
s = 'hello python'
print(s[1:5], s.upper(), s.replace('python','world'))

ello HELLO PYTHON hello world

In [37]:
# 41. Join and split
words = ['one', 'two', 'three']
sentence = ' '.join(words)
print(sentence)
print(sentence.split())

one two three
['one', 'two', 'three']

In [38]:
# 42. f-string formatting
name, score = 'Mia', 97
print(f'{name} scored {score}')

Mia scored 97

## 13. Exception Handling

In [ ]:
# 43. Try/except
try:
    print(1/0)
except ZeroDivisionError:
    print('Cannot divide by zero!')

In [ ]:
# 44. Try/except/finally
try:
    int('hello')
except Exception as e:
    print('Error:', e)
finally:
    print('Done')

## 14. File Handling

In [ ]:
# 45. Write/read file
with open('test.txt','w') as f:
    f.write('line 1\nline 2')
with open('test.txt') as f:
    print(f.read())

In [ ]:
# 46. Read file line by line
with open('test.txt') as f:
    for line in f:
        print(line.strip())

## 15. Standard Modules

In [ ]:
# 47. Math and random
import math, random
print(math.pi, random.randint(1,10))

In [ ]:
# 48. Datetime
from datetime import datetime
t = datetime.now()
print(t.strftime('%Y-%m-%d'))

## 16. Classes and Objects

In [ ]:
# 49. Basic class
class Dog:
    def __init__(self, name):
        self.name = name
    def bark(self):
        print(self.name + ' barks!')
d = Dog('Fido')
d.bark()

In [ ]:
# 50. Inheritance
class Puppy(Dog):
    def bark(self):
        print(self.name + ' yips!')
p = Puppy('Rex')
p.bark()

In [2]:
# 51. Special methods
class Book:
    def __init__(self, title):
        self.title = title
    # def __str__(self):
    #     return f'Book: {self.title}'
b = Book('Python 101')
print(b)

<__main__.Book object at 0x110e25550>

## 17. Advanced OOP

In [3]:
# 52. Static and class methods
class Example:
    @staticmethod
    def stat():
        print('static!')
    @classmethod
    def cls(cls):
        print('class!', cls)
Example.stat()
Example.cls()

static!
class! <class '__main__.Example'>

In [4]:
# 53. Iterator
class Count:
    def __init__(self, n): self.n=n
    def __iter__(self): return self
    def __next__(self):
        if self.n==0: raise StopIteration
        self.n -= 1
        return self.n+1
for i in Count(3): print(i)

3
2
1

In [7]:
# 54. Generator
def gen():
    yield 3
    yield 2
for i in gen():
    print(i)

3
2

## 18. Decorators and Useful Idioms

In [ ]:
# 55. Simple decorator
def decor(f):
    def wrapper():
        print('start')
        f()
        print('end')
    return wrapper
@decor
def hi(): print('hi!')
hi()

In [ ]:
# 56. List flattening
mat = [[1,2],[3,4]]
flat = [x for row in mat for x in row]
print(flat)

## 19. Practice Problems and Mini-Projects

In [ ]:
# 57. FizzBuzz
for i in range(1,21):
    if i%15==0:
        print('FizzBuzz')
    elif i%3==0:
        print('Fizz')
    elif i%5==0:
        print('Buzz')
    else:
        print(i)

In [8]:
# 58. Palindrome check
s = 'radar'
print(s == s[::-1])

True

In [ ]:
# 59. Prime check
def is_prime(n):
    if n<2: return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0: return False
    return True
print(is_prime(17), is_prime(12))

In [9]:
# 60. Word count in a sentence
sentence = 'to be or not to be'
counts = {}
for word in sentence.split():
    counts[word] = counts.get(word,0) + 1
print(counts)

{'to': 2, 'be': 2, 'or': 1, 'not': 1}

In [ ]:
# 61. Reverse words in a sentence
sentence = 'hello world'
print(' '.join(sentence.split()[::-1]))

In [10]:
# 62. Find duplicates in a list
lst = [1,2,2,3,4,4,4]
dups = set([x for x in lst if lst.count(x) > 1])
print(dups)

{2, 4}

In [ ]:
# 63. Simple calculator
def calc(a, b, op):
    if op=='+': return a+b
    elif op=='-': return a-b
    elif op=='*': return a*b
    elif op=='/': return a/b
    else: return None
print(calc(4,2,'+'), calc(4,2,'*'))

In [ ]:
# 64. Guess the number (logic only)
import random
answer = random.randint(1,5)
guess = 3
if guess == answer:
    print('Correct!')
else:
    print(f'Wrong, answer was {answer}')

## Resources & Next Steps
- [Python Official Tutorial](https://docs.python.org/3/tutorial/)
- [Real Python](https://realpython.com/)
- [Learn Python (Interactive)](https://www.learnpython.org/)

You now have 60+ examples! Try modifying each or create your own.